Kevin3342/CIS3342Local/Project4/Web References/CreditCardSvc/CreditCardSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="processTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="processTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processTransactionResult" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustomersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myCustomer" type="tns:CCCustomer" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CCCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addCustomerResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myCustomer" type="tns:CCCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientVerificationCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="custID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="myAccount" type="tns:CCAccount" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CCAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CCNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cvc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Limit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addAccountResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myAccount" type="tns:CCAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccountsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myAccount" type="tns:CCAccount" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateAccountResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myAccount" type="tns:CCAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myCustomer" type="tns:CCCustomer" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateCustomerResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myCustomer" type="tns:CCCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ccNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="processTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:processTransaction" />
  </wsdl:message>
  <wsdl:message name="processTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:processTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomers" />
  </wsdl:message>
  <wsdl:message name="getCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="addCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:addCustomer" />
  </wsdl:message>
  <wsdl:message name="addCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:addCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="addAccountSoapIn">
    <wsdl:part name="parameters" element="tns:addAccount" />
  </wsdl:message>
  <wsdl:message name="addAccountSoapOut">
    <wsdl:part name="parameters" element="tns:addAccountResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:getAccounts" />
  </wsdl:message>
  <wsdl:message name="getAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:getAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="updateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:updateAccount" />
  </wsdl:message>
  <wsdl:message name="updateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:updateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="updateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:updateCustomer" />
  </wsdl:message>
  <wsdl:message name="updateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:updateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="getTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:getTransactions" />
  </wsdl:message>
  <wsdl:message name="getTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:getTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditCardSvcSoap">
    <wsdl:operation name="processTransaction">
      <wsdl:input message="tns:processTransactionSoapIn" />
      <wsdl:output message="tns:processTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomers">
      <wsdl:input message="tns:getCustomersSoapIn" />
      <wsdl:output message="tns:getCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <wsdl:input message="tns:addCustomerSoapIn" />
      <wsdl:output message="tns:addCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addAccount">
      <wsdl:input message="tns:addAccountSoapIn" />
      <wsdl:output message="tns:addAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <wsdl:input message="tns:getAccountsSoapIn" />
      <wsdl:output message="tns:getAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <wsdl:input message="tns:updateAccountSoapIn" />
      <wsdl:output message="tns:updateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdl:input message="tns:updateCustomerSoapIn" />
      <wsdl:output message="tns:updateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTransactions">
      <wsdl:input message="tns:getTransactionsSoapIn" />
      <wsdl:output message="tns:getTransactionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCardSvcSoap" type="tns:CreditCardSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processTransaction">
      <soap:operation soapAction="http://tempuri.org/processTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomers">
      <soap:operation soapAction="http://tempuri.org/getCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <soap:operation soapAction="http://tempuri.org/addCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAccount">
      <soap:operation soapAction="http://tempuri.org/addAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <soap:operation soapAction="http://tempuri.org/getAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction="http://tempuri.org/updateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <soap:operation soapAction="http://tempuri.org/updateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactions">
      <soap:operation soapAction="http://tempuri.org/getTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditCardSvcSoap12" type="tns:CreditCardSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processTransaction">
      <soap12:operation soapAction="http://tempuri.org/processTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomers">
      <soap12:operation soapAction="http://tempuri.org/getCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <soap12:operation soapAction="http://tempuri.org/addCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAccount">
      <soap12:operation soapAction="http://tempuri.org/addAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <soap12:operation soapAction="http://tempuri.org/getAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <soap12:operation soapAction="http://tempuri.org/updateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <soap12:operation soapAction="http://tempuri.org/updateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactions">
      <soap12:operation soapAction="http://tempuri.org/getTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardSvc">
    <wsdl:port name="CreditCardSvcSoap" binding="tns:CreditCardSvcSoap">
      <soap:address location="http://localhost:61609/CreditCardSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditCardSvcSoap12" binding="tns:CreditCardSvcSoap12">
      <soap12:address location="http://localhost:61609/CreditCardSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>